.actionButtons-1sUUug {
    background-color: rgba(33,33,33,.6);
    color: hsla(0,0%,100%,.8);
    box-shadow: none !important;
    background-color: rgba(0,0,0,0) !important;
}

.lookInverted-2D7oAl.colorBrand-3pXr91 {
    background-color: rgba(255,255,255,.15);
    color: #fff;
}

.lookInverted-2D7oAl.colorBrand-3pXr91:hover {
    background-color: rgba(255,255,255,.25);
}

.uploadModal-2ifh8j .footer-3mqk7D .button:first-child {
    border: 2px solid rgba(240,71,71,.35);
    background-color: transparent;
    line-height: 16px;
    padding: 2px 16px !important;
    color: #f04747;
    border-radius: 3px;
}

.theme-dark .autocomplete-1vrmpx {
    background-color: rgba(0,0,0,.9);
}

.theme-dark .header-1TOWci {
    -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,.15), 0 1px 2px 0 rgba(255,255,255,.15);
    box-shadow: 0 1px 0 0 rgba(255,255,255,.15), 0 1px 2px 0 rgba(255,255,255,.15);
}

.theme-dark .searchBar-1MOL6S {
    background-color: rgba(255,255,255,.15);
}

.theme-dark .option-1l2vXE {
    background-color: rgba(255,255,255,.15);
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    color: #f6f6f7;
    background-color: rgba(255,255,255,.15);
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:active, .theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
    background-color: rgba(255,255,255,.2);
}

